@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232732;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232732;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 6%;
}

html {
  scroll-behavior: smooth;
}